@import url("https://fonts.googleapis.com/css2?family=Nobile:ital@0;1&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* FIN RESET */
h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: #F2F2F2;
  font-style: normal;
}

a {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.subtituloContenido h2 {
  font-size: 1.5rem;
  margin: 40px;
}

.subtituloContenido h3 {
  font-size: 1.25rem;
  margin: 20px;
}

/* Contenido tipografico del Titulo principal y el menu */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

.subtituloContenido {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #595959;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subtituloContenido h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .subtituloContenido h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

/* Inicio de animaciones del header */
.animacionesTitulo {
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes titulo {
  from {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titulo {
  from {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animacionesMenu {
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@media screen and (min-width: 1024px) {
  .animacionesMenu {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
}

@media screen and (min-width: 1200px) {
  .animacionesMenu {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
}

@-webkit-keyframes menu {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Fin de animaciones del header */
h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: #F2F2F2;
  font-style: normal;
}

a {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.subtituloContenido h2 {
  font-size: 1.5rem;
  margin: 40px;
}

.subtituloContenido h3 {
  font-size: 1.25rem;
  margin: 20px;
}

/* Contenido tipografico del Titulo principal y el menu */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

.subtituloContenido {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #595959;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subtituloContenido h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .subtituloContenido h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

/* Inicio del Header */
/* Inicio de fondo, tipografia y color de la tipografia */
.menuHeader {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-image: url(../multimedia/imagenes/imagenesoriginales/imagendefondo.jpg);
  background-size: cover;
  background-position: top;
  margin-bottom: 25px;
}

/* Fin de fondo, tipografia y color de la tipografia */
/* Pagina principal */
/* Inicio del contenido */
/* Video */
#tamanoVideo1 {
  width: 100%;
  height: 85vh;
  padding: 15px;
  display: none;
}

@media screen and (min-width: 768px) {
  #tamanoVideo1 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #tamanoVideo1 {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  #tamanoVideo1 {
    display: initial;
  }
}

#tamanoVideo2 {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.contenidoIndex {
  width: 50vw;
}

/* Video */
/* Fin del contenido */
h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: #F2F2F2;
  font-style: normal;
}

a {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.subtituloContenido h2 {
  font-size: 1.5rem;
  margin: 40px;
}

.subtituloContenido h3 {
  font-size: 1.25rem;
  margin: 20px;
}

/* Contenido tipografico del Titulo principal y el menu */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

.subtituloContenido {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #595959;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subtituloContenido h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .subtituloContenido h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .subtituloContenido h3 {
    font-size: 2rem;
  }
}

/*Inicio del Footer*/
footer {
  background-image: url(../multimedia/imagenes/imagenesoriginales/imagendefondo.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 5px;
  height: 85px;
  color: #F2F2F2;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

/* Fin del Footer */
/*# sourceMappingURL=main.css.map */