// Mixins, Maps y Media Queries 

// BreakPoints

$breakpoints: (
  tablet:768px,
  notebook:1024px,
  desktop:1200px
);


@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $valor: map-get($breakpoints, $breakpoint);
       
      @media screen and (min-width: $valor) {
          @content;
      }
  }
   
  @warn "Unknown '#{$breakpoint}' in $breakpoints";
}

