
//Variables de colores
$principal:  #F2F2F2;
$subtitulos: #595959;
$letraFooter: black;

//Variables de tipografia
$tipografiaPrincipal: 'Yanone Kaffeesatz', sans-serif;
$tipografiaParrafo: 'Nobile', sans-serif;
