@import "../base/tipografia";
@import "../utilities/variables";

/*Inicio del Footer*/

footer{
    background-image: url(../multimedia/imagenes/imagenesoriginales/imagendefondo.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 5px;
    height: 8vh;
    color:$fondo;
    font-family: $tipografiaPrincipal;
    font-size: 1rem;
    font-weight: 300;
    @include tablet{
        height: 10vh;
    }
    @include notebook{
        height: 12vh;
        }
    @include desktop{
        height: 12vh;
    }
}

/* Fin del Footer */