@import "../base/tipografia";


/* Inicio del Header */

/* Inicio de fondo, tipografia y color de la tipografia */
.menuHeader{
    font-family: $tipografiaPrincipal;
    background-image: url(../multimedia/imagenes/imagenesoriginales/imagendefondo.jpg);
    background-size: cover;
    background-position: top;
    margin-bottom: 25px;

}

/* Fin de fondo, tipografia y color de la tipografia */