@import "../utilities/mixins";


/* Pagina principal */

/* Inicio del contenido */

    /* Video */
    #tamanoVideo1{
        width: 100%;
        height: 85vh;
        padding: 15px;
        display:none;
        @include responsive(tablet){
            display: none;
        }
        @include responsive(notebook){
            display: initial;
        }
        @include responsive(desktop){
            display: initial
        }
    }
    #tamanoVideo2{
        width: 100%;
        height: 100%;
        padding: 15px;
      
    }
    .contenidoIndex{
        width: 50vw;
    }

    /* Video */

/* Fin del contenido */