@import "../utilities/mixins";


/* Pagina principal */

/* Inicio del contenido */

    /*Inicio de subtitulos*/

    .subtituloContenido{
        font-family: $tipografiaPrincipal;
        color:$subtitulos;
        text-align: center;
        font-weight: 400;
        h2{
            font-size: 1.5rem;
            margin: 40px;
            @include tablet{
                font-size: 2rem
            }
        }
        h3{
            font-size: 2rem;
            margin: 20px;
        }
    }

    /*Fin de subtitulos*/

    /* Video */
    #tamanoVideo1{
        width: 100%;
        height: 85vh;
        padding: 15px;
        display:none;
        @include tablet{
            display: none;
        }
        @include notebook{
            display: initial;
        }
        @include desktop{
            display: initial
        }
    }
    #tamanoVideo2{
        width: 100%;
        height: 100%;
        padding: 15px;
      
    }

    /* Video */

/* Fin del contenido */